body {
    display : flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: #2F2F2F;
    font-family: 'Jersey 25','Britannic','sans-serif';
    color:#D0A98F;
}

nav {
    width: 99vw;
    height: 5vw;
    background-color: #2F2F2F;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.logo {
    background-color: #2F2F2F;
    width: 20%;
    margin-left:20px;
    font-size: 3rem;
}
.nav-links {
    width: 70%;
    background-color: #2F2F2F;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: #D0A98F;
}

div.body-container {
    width: 99vw;
    height: 85vh;
    background-color: #2F2F2F;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.box1 {
    width: 60%;
    height: 80%;
    background-color: #444242;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    gap: 20px;
}

div.box2 {
    margin: 0px;
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F2F2F;
}

.box11 {
    margin-top: 10px;
    width: 100%;
    height: 13%;
    color: #D0A98F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.box12 {
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.ans-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 70%;
    height: 100%;
    font-size: 1.75rem;
}

input,button {
    height: 7%;
    border-radius: 0.25rem;
    border: none;
    font-family: inherit;
    font-size: 1.5rem;
    padding: 10px;
    width: 94%;
    display: flex;
    justify-content: center;
    color:#2F2F2F;
}

.email-div {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    gap: 5px;
    width: 98%;
}


select {
    font-family: inherit;
    font-size: inherit;
    border-radius: 0.25rem;
    border: none;
    color:#2F2F2F;
}

#reset-btn {
    height: 100%;
    width: 20%;
}

#email-primary {
    height: inherit;
    width: 60%;
}

#email-domain {
    height: 100%;
    width: 30%;
}

#reg {
    height: 100%;
    border-radius: 0.25rem;
    width: 100%;
    background-color: #D0A98F;
    color: #2F2F2F;
}

.box2 {
    background-color: black;
}

.box13 {
    display: flex;
    flex-direction: column;
}

#pass-validator, #pass-message, #user-message {
    font-size: 1rem;
    color: red; /* Change color to red for error messages */
    margin: 5px 0; /* Add some margin for spacing */
    display: none; /* Keep it hidden by default */
    position: absolute;
}

#pass-validator {
    top: 72%;
}

#pass-message {
    top: 98%;
}

#user-message {
    top: 19%;
}
.ans-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 70%;
    height: 100%;
    font-size: 1.75rem;
    position: relative; 
}
.popup-box {
    display: none;
    position: absolute;
    background-color: rgba(150,150,150,0.5);
    border-radius: 5px;
    padding: 10px;
    backdrop-filter: blur(30px);
    transform: translateX(30%) translateY(-25%);
    color: #444242;
    z-index: 1000;
}

#reg:hover {
    scale: transform(110%);
}

#popup {
    text-decoration: underline;
    cursor: pointer;
}

#popup-close {
    position: absolute;
    background: none;
    top: 2%;
    right: 1%;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

#popup-close:hover {
    transform:scale(1.2);
}

#reg:disabled {
    background-color: gray;
    cursor: not-allowed;
    opacity: 0.6;
}

option {
    font: inherit;
}